{% set current_path = app.request.get('_route') %}

<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px; min-height: 100vh">
    <a href="{{ path('app_home') }}" class="d-flex justify-content-center link-dark text-decoration-none">
        <div class="fs-4 text-center">Football Teams</div>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="mb-1">
            <div class="fs-5 text-center text-muted text-decoration-underline">Teams</div>
            <div class="ms-3" id="home-collapse">
                <ul class="nav nav-pills flex-column mb-auto">
                    <li><a href="{{ path('app_teams_index') }}" class="nav-link link-dark {{ 'app_teams_index' == current_path ? 'active' : '' }}">List of teams</a></li>
                    <li><a href="{{ path('app_teams_create') }}" class="nav-link link-dark {{ 'app_teams_create' == current_path ? 'active' : '' }}">Create a new team</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <div class="fs-5 text-center text-muted text-decoration-underline">Mercato</div>
            <div class="ms-3" id="home-collapse">
                <ul class="nav nav-pills flex-column mb-auto">
                    <li><a href="{{ path('app_transfer_create') }}" class="nav-link link-dark {{ 'app_transfer_create'  == current_path ? 'active' : ''}}">Make a new transfer</a></li>
                    <li><a href="#" class="nav-link link-dark {{ 'app_transfer_index'  == current_path ? 'active' : ''}}">Mercato history</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>